@using Project_HoangPhuongAnh.Models.Entities;
@{
    ViewBag.Title = "Shop";
    string _tensanpham = ViewBag._tensanpham;
    string product = ViewBag.product == null ? Session["_product"].ToString() : ViewBag.product;
    string _gia = ViewBag._gia_checked;
    string _discount = ViewBag._discount_checked;
    string count = "";
    if (ViewBag.cart != null)
    {
        count = ViewBag.cart;
    }
    
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>AT Shoe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shop AT" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //custom-theme -->
    <link href="@Url.Content("~/css_user/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/css_user/shop.css")" type="text/css" media="screen" property="" />
    <link href="@Url.Content("~/css_user/style7.css")" rel="stylesheet" type="text/css" media="all" />
    <!-- Owl-carousel-CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css_user/jquery-ui1.css")">
    <link href="@Url.Content("~/css_user/style.css")" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    <link href="@Url.Content("~/css_user/font-awesome.css")" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <!-- banner -->
    <div class="banner_top innerpage" id="home">
        <div class="wrapper_top_w3layouts">
            <div class="header_agileits">
                <div class="logo inner_page_log">
                    <h1><a class="navbar-brand" href="index.html"><span>Downy</span> <i>Shoes</i></a></h1>
                </div>
                <div class="overlay overlay-contentpush">
                    <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

                    <nav>
                        <ul>
                            <li><a href="index.html" class="active">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="404.html">Team</a></li>
                            <li><a href="shop.html">Shop Now</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-nav-button">
                    <button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>
                <!-- cart details -->
                <div class="top_nav_right">
                    <div class="shoecart shoecart2 cart cart box_1">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart">
                            <button class="top_shoe_cart" style="width:90px;">
                                <i class="fa fa-cart-arrow-down top_shoe_cart fa-lg" aria-hidden="false"></i>
                                <span class="badge badge-warning">@count</span>
                                
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- //cart details -->
        <div class="clearfix"></div>
        <!-- /banner_inner -->
        <div class="services-breadcrumb_w3ls_agileinfo">
            <div class="inner_breadcrumb_agileits_w3">

                <ul class="short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li>Shop</li>
                </ul>
            </div>
        </div>
        <!-- //banner_inner -->
    </div>

    <!-- //banner -->
    <!-- top Products -->
    <div class="ads-grid_shop">
        <div class="shop_inner_inf">
            <!-- tittle heading -->
            <!-- //tittle heading -->
            <!-- product left -->
            <div class="side-bar col-md-3">
                <form action="@Url.Action("Shop", "Shop")">
                    <input type="hidden" id="_action" name="_action" value="search">
                    <input type="hidden" id="_product" name="_product" value="@product">
                    <div class="search-hotel">
                        <div class="left-side">
                            <h3 class="agileits-sear-head">Lọc sản phẩm theo...</h3>
                            <input type="text" placeholder="Nhập tên sản phẩm..." name="_tensanpham" value="@_tensanpham">
                        </div>
                        <br>
                        <div class="left-side" id="khoanggia">
                            <h3 class="agileits-sear-head">Khoảng giá</h3>
                            <ul>
                                <li>
                                    <input class="form-check-input" type="radio" name="_gia" id="_gia_500" value="500000">
                                    <span class="form-check-label" for="exampleRadios1">
                                        Dưới 500.000đ
                                    </span>
                                </li>
                                <li>
                                    <input class="form-check-input" type="radio" name="_gia" id="_gia_700" value="700000">
                                    <span class="form-check-label" for="exampleRadios2">
                                        Từ 500.000đ - 700.000đ
                                    </span>
                                </li>
                                <li>
                                    <input class="form-check-input" type="radio" name="_gia" id="_gia_900" value="900000">
                                    <span class="form-check-label" for="exampleRadios3">
                                        Từ 700.000đ - 900.000đ
                                    </span>
                                </li>
                                <li>
                                    <input class="form-check-input" type="radio" name="_gia" id="_gia_1000" value="1000000">
                                    <span class="form-check-label" for="exampleRadios3">
                                        Trên 1.000.000đ
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- // preference -->
                        <!-- discounts -->
                        <div class="left-side" id="khuyenmai">
                            <h3 class="agileits-sear-head">Khuyến mại</h3>
                            <ul>
                                <li>
                                    <input class="form-check-input" type="radio" name="_discount" id="_discount_5" value="5">
                                    <span class="form-check-label" for="exampleRadios1">
                                        5% or More
                                    </span>
                                </li>
                                <li>
                                    <input class="form-check-input" type="radio" name="_discount" id="_discount_10" value="10">
                                    <span class="form-check-label" for="exampleRadios1">
                                        10% or More
                                    </span>
                                </li>
                                <li>
                                    <input class="form-check-input" type="radio" name="_discount" id="_discount_20" value="20">
                                    <span class="form-check-label" for="exampleRadios1">
                                        20% or More
                                    </span>
                                </li>
                                <li>
                                    <input class="form-check-input" type="radio" name="_discount" id="_discount_30" value="30">
                                    <span class="form-check-label" for="exampleRadios1">
                                        30% or More
                                    </span>
                                </li>
                                <li>
                                    <input class="form-check-input" type="radio" name="_discount" id="_discount_50" value="50">
                                    <span class="form-check-label" for="exampleRadios1">
                                        50% or More
                                    </span>
                                </li>

                            </ul>
                        </div>
                        <!-- //discounts -->
                        <div class="left-side text-center">
                            <input type="submit" class="btn btn-primary text-center" value="Tìm kiếm" onclick="searchProduct()">
                        </div>
                    </div>
                </form>
                <!-- deals -->
                <div class="deal-leftmk left-side">
                    <h3 class="agileits-sear-head">Special Deals</h3>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="@Url.Content("~/images/s4.jpg")" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Shuberry Heels</h3>
                            <a href="single.html">$180.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="@Url.Content("~/images/s2.jpg")" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Chikku Loafers</h3>
                            <a href="single.html">$99.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="@Url.Content("~/images/s1.jpg")" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Bella Toes</h3>
                            <a href="single.html">$165.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="@Url.Content("~/images/s5.jpg")" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Red Bellies</h3>
                            <a href="single.html">$225.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="@Url.Content("~/images/s3.jpg")" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>(SRV) Sneakers</h3>
                            <a href="single.html">$169.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- //deals -->

            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="left-ads-display col-md-9">
                <div class="wrapper_top_shop">
                    <div class="col-md-6 shop_left">
                        <img src="@Url.Content("~/images/banner3.jpg")" alt="">
                        <h6>40% off</h6>
                    </div>
                    <div class="col-md-6 shop_right">
                        <img src="@Url.Content("~/images/banner2.jpg")" alt="">
                        <h6>50% off</h6>
                    </div>
                    <div class="clearfix"></div>
                    <!-- product-sec1 -->
                    <div class="product-sec1">
                        <!--/mens-->
                        @*----------------------------------------------*@
                        @{ int index = 1;}

                        @foreach (var _product in ViewBag._listProduct as List<Tbl_sanpham>)
                        {
                            if (index % 3 == 0)
                            {
                                <div class="row">
                                    <div class="col-md-4 product-men">
                                        <div class="product-shoe-info shoe">
                                            <div class="men-pro-item">
                                                <div class="men-thumb-item">
                                                    <span class="product-new-top1">- @_product.discount %</span>
                                                    <img src="@Url.Content("~/"+ _product._hinhanh)" alt="">
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a href="@Url.Action("DetailProduct", "DetailProduct", new { product_id = _product._masp })" class="link-product-add-cart">Quick View</a>
                                                        </div>
                                                    </div>
                                                    <span class="product-new-top">New</span>
                                                </div>
                                                <div class="item-info-product">
                                                    <h4>
                                                        <a href="single.html">@_product._tensanpham </a>
                                                    </h4>
                                                    <div class="info-product-price">
                                                        <div class="grid_meta">
                                                            <div class="product_price">
                                                                <div class="grid-price ">
                                                                    <span class="money ">@_product._gia_ban</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="shoe single-item hvr-outline-out">
                                                            <form action="@Url.Action("Add", "AddToCart")" method="post">
                                                                <input type="hidden" name="cmd" value="_cart">
                                                                <input type="hidden" name="add" value="1">
                                                                <input type="hidden" name="shoe_item" value="@_product._tensanpham">
                                                                <input type="hidden" name="amount" value="@_product._gia_ban.Replace(".","")">
                                                                @*<button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>*@

                                                                @*<a class="shoe-cart pshoe-cart" href="@Url.Action("Add", "AddToCart")" data-toggle="modal" data-target="#myModal1"></a>*@
                                                                @*<button>
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </button>*@
                                                                <a href="@Url.Action("Add","AddToCart")"
                                                                   class="btn btn-primary btn-lg">Them vao gio</a>
                                                            </form>

                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="col-md-4 product-men">
                                    <div class="product-shoe-info shoe">
                                        <div class="men-pro-item">
                                            <div class="men-thumb-item">
                                                <span class="product-new-top1">- @_product.discount %</span>
                                                <img src="@Url.Content("~/"+ _product._hinhanh)" alt="">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="@Url.Action("DetailProduct", "DetailProduct", new { product_id = _product._masp })" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                <span class="product-new-top">New</span>
                                            </div>
                                            <div class="item-info-product">
                                                <h4>
                                                    <a href="single.html">@_product._tensanpham </a>
                                                </h4>
                                                <div class="info-product-price">
                                                    <div class="grid_meta">
                                                        <div class="product_price">
                                                            <div class="grid-price ">
                                                                <span class="money ">@_product._gia_ban</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="shoe single-item hvr-outline-out">
                                                        <form action="@Url.Action("Add", "AddToCart")" method="post">
                                                            <input type="hidden" name="cmd" value="_cart">
                                                            <input type="hidden" name="add" value="1">
                                                            <input type="hidden" name="shoe_item" value="@_product._tensanpham">
                                                            <input type="hidden" name="id" value="@_product._masp">
                                                            <input type="hidden" name="amount" value="@_product._gia_ban.Replace(".","")">


                                                            @*<button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>*@

                                                            @*<a href="@Url.Action("Add", "AddToCart")" data-toggle="modal" data-target="#myModal1"></a>*@
                                                            <a href="@Url.Action("Add","AddToCart")"
                                                               class="btn btn-primary btn-lg">Them vao gio</a>
                                                        </form>

                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            index++;
                        }
                        @*----------------------------------------------*@
                        <div class="clearfix"></div>
                    </div>
                    <nav aria-label="Page navigation example" class="text-center">
                        <ul class="pagination justify-content-center">
                            @if (ViewBag.listPaging != null && ViewBag.listPaging.Count != 0)
                            {
                                if (ViewBag.listPaging[0] > ViewBag.limitPage)
                                {
                                    var page = ViewBag.listPaging[0] - ViewBag.limitPage;
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Shop", "Shop", new ShopInfo() { _product = product, _action = "paging", _currentPage = page })"
                                           tabindex="-1">Previous</a>
                                    </li>

                                }
                                foreach (var item in ViewBag.listPaging)
                                {
                                    if (ViewBag.currentPage != item)
                                    {
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="@Url.Action("Shop", "Shop", new ShopInfo() {
                                                                      _product = product,
                                                                      _action = "paging",
                                                                      _currentPage = item })">@item</a>
                                                                </li>

                                                            }
                                                            if (ViewBag.currentPage == item)
                                                            {
                                                                <li class="page-item"><a>@item</a></li>
                                                            }
                                                        }
                                                        if (ViewBag.listPaging[0] + ViewBag.limitPage - 1 < ViewBag.totalPage)
                                                        {
                                                            var page = ViewBag.listPaging[0] + ViewBag.limitPage;
                                                            <li class="page-item">
                                                                <a class="page-link" href="@Url.Action("Shop", "Shop", new ShopInfo() { _product = product, _action = "paging", _currentPage = page })">Next</a>

                                                            </li>
                                                        }
                                                    }
                        </ul>
                    </nav>
                    <!-- //product-sec1 -->
                    <div class="col-md-6 shop_left shp">
                        <img src="@Url.Content("~/images/banner4.jpg")" alt="">
                        <h6>21% off</h6>
                    </div>
                    <div class="col-md-6 shop_right shp">
                        <img src="@Url.Content("~/images/banner1.jpg")" alt="">
                        <h6>31% off</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //top products -->
    <div class="mid_slider_w3lsagile">
        <div class="col-md-3 mid_slider_text">
            <h5>Some More Shoes</h5>
        </div>
        <div class="col-md-9 mid_slider_info">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g1.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g2.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g3.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g4.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g5.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g6.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g2.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g1.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g1.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g2.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g3.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g4.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g1.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g2.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g3.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                <div class="thumbnail"><img src="@Url.Content("~/images/g4.jpg")" alt="Image" style="max-width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!-- The Modal -->

            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
    <!-- /newsletter-->
    <div class="newsletter_w3layouts_agile">
        <div class="col-sm-6 newsleft">
            <h3>Sign up for Newsletter !</h3>
        </div>
        <div class="col-sm-6 newsright">
            <form action="#" method="post">
                <input type="email" placeholder="Enter your email..." name="email" required="">
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="clearfix"></div>
    </div>
    <!-- //newsletter-->
    <!-- footer -->
    <div class="footer_agileinfo_w3">
        <div class="footer_inner_info_w3ls_agileits">
            <div class="col-md-3 footer-left">
                <h2><a href="index.html"><span>D</span>owny Shoes </a></h2>
                <p>Lorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                <ul class="social-nav model-3d-0 footer-social social two">
                    <li>
                        <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>Our <span>Information</span> </h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="404.html">Services</a></li>
                            <li><a href="404.html">Short Codes</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 sign-gd-two">
                        <h4>Store <span>Information</span></h4>
                        <div class="address">
                            <div class="address-grid">
                                <div class="address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="address-right">
                                    <h6>Phone Number</h6>
                                    <p>+1 234 567 8901</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="address-grid">
                                <div class="address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="address-right">
                                    <h6>Email Address</h6>
                                    <p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="address-grid">
                                <div class="address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="address-right">
                                    <h6>Location</h6>
                                    <p>
                                        Broome St, NY 10002,California, USA.

                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sign-gd flickr-post">
                        <h4>Flickr <span>Posts</span></h4>
                        <ul>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t1.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t2.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t3.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t4.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t1.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t2.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t3.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t2.jpg")" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="@Url.Content("~/images/t4.jpg")" alt=" " class="img-responsive" /></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <p class="copy-right-w3ls-agileits">&copy 2018 Downy Shoes. All rights reserved | Design by <a href="http://w3layouts.com/">w3layouts</a></p>
        </div>
    </div>


    <!-- //footer -->
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- js -->
    <script type="text/javascript" src="@Url.Content("~/js_user/jquery-2.1.4.min.js")"></script>
    <!-- //js -->
    <!-- cart-js -->
    <script src="@Url.Content("~/js_user/minicart.js")"></script>
    <script>
        shoe.render();

        shoe.cart.on('shoe_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- /nav -->
    <script src="@Url.Content("~/js_user/modernizr-2.6.2.min.js")"></script>
    <script src="@Url.Content("~/js_user/classie.js")"></script>
    <script src="@Url.Content("~/js_user/demo1.js")"></script>
    <!-- //nav -->
    <!--search-bar-->
    <script src="@Url.Content("~/js_user/search.js")"></script>
    <!--//search-bar-->
    <!-- price range (top products) -->
    <script src="@Url.Content("~/js_user/jquery-ui.js")"></script>
    <!-- //price range (top products) -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="@Url.Content("~/js_user/move-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js_user/easing.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var checkedCheckkbox;
            var checkedCheckkboxKM;
            var _gia_checked = parseInt(@ViewBag._gia);
            var _discount_checked = parseInt(@ViewBag._discount);
            if (_gia_checked == 500000) {
                $("#_gia_500").prop("checked", "checked");
                checkedCheckkbox = "_gia_500";
            } else if (_gia_checked == 700000) {
                $("#_gia_700").prop("checked", "checked");
                checkedCheckkbox = "_gia_700";
            } else if (_gia_checked == 900000) {
                $("#_gia_900").prop("checked", "checked");
                checkedCheckkbox = "_gia_900";
            } else if (_gia_checked == 1000000) {
                $("#_gia_1000").prop("checked", "checked");
                checkedCheckkbox = "_gia_1000";
            }

            if (_discount_checked == 5) {
                $("#_discount_5").prop("checked", "checked");
                checkedCheckkboxKM = "_discount_5";
            } else if (_discount_checked == 10) {
                $("#_discount_10").prop("checked", "checked");
                checkedCheckkboxKM = "_discount_10";
            } else if (_discount_checked == 20) {
                $("#_discount_20").prop("checked", "checked");
                checkedCheckkboxKM = "_discount_20";
            } else if (_discount_checked == 30) {
                $("#_discount_30").prop("checked", "checked");
                checkedCheckkboxKM = "_discount_30";
            } else if (_discount_checked == 50) {
                $("#_discount_50").prop("checked", "checked");
                checkedCheckkboxKM = "_discount_50";
            }

            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
            
            $("#khoanggia > ul > li .form-check-input").click(function () {
                if (checkedCheckkbox == $(this).context.id) {
                    $(this).context.checked = false;
                    checkedCheckkbox = undefined;
                } else {
                    $(this).context.checked = true;
                    checkedCheckkbox = $(this).context.id;
                }
            })

            $("#khuyenmai > ul > li .form-check-input").click(function () {
                if (checkedCheckkboxKM == $(this).context.id) {
                    $(this).context.checked = false;
                    checkedCheckkboxKM = undefined;
                } else {
                    $(this).context.checked = true;
                    checkedCheckkboxKM = $(this).context.id;
                }
            })
        });
    </script>
    <!-- //end-smoth-scrolling -->
    <script type="text/javascript" src="@Url.Content("~/js_user/bootstrap-3.1.1.min.js")"></script>
</body>
</html>
